<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <nav class="headerNav">
            <img src="../assets/ourLogo.jpg" alt="Logo">
            <ul>
                <li><a href="../globalrank">Global Ranking</a></li>
                <li><a href="../newest">Newest</a></li>
                <li><a href="../forum">Forum</a></li>
                <!-- search bar here -->

                <!-- 
                <% if (user) { %>
                    <li><a href="../home">Logout</a></li>
                    <li><a href="../userProfile">Profile</a></li>
                <% } else { %>
                    <li><a href="../login">Login</a></li>
                    <li><a href="../signup">Signup</a></li>
                <% } %>
              -->

            </ul>
        </nav>
    </header>
</body>
</html>