<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <%- include('partials/header') %>

    <main>

        <div class="mainPhoto">
            <img src="mainPhoto" alt="mainPhoto">
        </div>

        
        <ul class="recomendations">
            <li><img src="../assets/manga1.jpg" alt="Manga 1"></li>
            <li><img src="../assets/manga2.jpg" alt="Manga 2"></li>
            <li><img src="../assets/manga3.jpg" alt="Manga 3"></li>
            <li><img src="../assets/manga4.jpg" alt="Manga 4"></li>
            <li><img src="../assets/manga5.jpg" alt="Manga 5"></li>
        </ul>



    </main>
</body>
</html>