<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/newest.css">
</head>
<body>
    <%- include('partials/header') %>

    <div class="newest-manga-container">
        <% if (newestManga.length > 0) { %>
            <% newestManga.forEach(manga => { %>
                <div class="manga-item">
                    <img src="<%= manga.coverImage.large %>" alt="Cover image of <%= manga.title.romaji || manga.title.english %>">
                    <h3><%= manga.title.romaji || manga.title.english %></h3>
                </div>
            <% }) %>
        <% } else { %>
            <p>No manga found.</p>
        <% } %>
    </div>

</body>
</html>