<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/signupAndLogin.css">
</head>
<body>
    <%- include('partials/header') %>

    <div class="container mt-5">
        <h1>Register</h1>
    
        <div class="row">
          <div class="col-sm-8">
            <div class="card">
              <div class="card-body">
    
                <!-- Makes POST request to /register route -->
                <form action="/signup" method="POST">
                    <!-- Email Field -->
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder=" " required>
                        <label for="email">Email</label>
                    </div>
                    
                    <!-- Username Field -->
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder=" " required>
                        <label for="username">Username</label>
                    </div>
                    
                    <!-- Password Field -->
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder=" " required>
                        <label for="password">Password</label>
                    </div>
                    
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-dark">Sign up</button>
                </form>
                
              </div>
            </div>
          </div>
        </div>
    </div>

    <%- include('partials/footer') %>
</body>
</html>