body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #282C2F;
    overflow: hidden; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.mainPhoto {
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 20px; 
    width: 90%;
    height: 70vh;
    border: 2px solid white;
    overflow: hidden;
}
.mainPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recomendations {
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping if necessary */
    width: 90%;

}

.recomendations li {
    width: 20vh;
    border: 2px solid white;
    height: 200px; 
    margin: 0 10px;
}
